<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy - Tu Tienda de Riot Points y Valorant Points</title>
</head>
<body>
    <div style="max-width: 800px; margin: 0 auto;">
        <h1>Política de privacidad</h1>        
        <p>En Tu Tienda de Riot Points y Valorant Points, nos tomamos muy en serio la privacidad de nuestros clientes. Esta política de privacidad describe cómo recopilamos, usamos, compartimos y protegemos la información personal que obtenemos de nuestros clientes.</p>
        <hr class="my-4">
        <h2>Información que recopilamos</h2>        
        <p>Recopilamos información personal cuando usted realiza una compra en nuestro sitio web, se suscribe a nuestro boletín de noticias o se comunica con nosotros por correo electrónico. La información que recopilamos puede incluir su nombre, dirección de correo electrónico, dirección postal, número de teléfono y datos de pago.</p>
        <hr class="my-4">
        <h2>Uso de la información</h2>        
        <p>Utilizamos la información que recopilamos para procesar y enviar sus pedidos, responder a sus preguntas y mejorar nuestro sitio web y servicios. También podemos utilizar su información para enviarle correos electrónicos de marketing, pero usted puede optar por no recibir estos correos electrónicos en cualquier momento.</p>
        <hr class="my-4">
        <h2>Compartir la información</h2>        
        <p>No compartimos su información personal con terceros, excepto cuando es necesario para procesar su pedido (por ejemplo, con el procesador de pagos) o si estamos obligados por ley.</p>
        <hr class="my-4">
        <h2>Protección de la información</h2>        
        <p>Tu Tienda de Riot Points y Valorant Points utiliza medidas de seguridad para proteger su información personal, incluyendo la encriptación de datos de pago y el uso de contraseñas seguras para proteger su cuenta.</p>
        <hr class="my-4">
        <h2>Cambios en la política de privacidad</h2>        
        <p>Nos reservamos el derecho de cambiar esta política de privacidad en cualquier momento. Si hacemos cambios significativos en la forma en que tratamos su información personal, le informaremos por correo electrónico o mediante un aviso en nuestro sitio web.</p>
    </div>
</body>
</html>
